[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
scikit-learn = "*"
seaborn = "*"
xgboost = "*"
jupyter = "*"
flask = "*"
gunicorn = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
